{% extends 'base_admin.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class=container-fluid>
  <div> <h3> Product Lists </h3> </div>
  <form method="POST" novalidate enctype='multipart/form-data'>
    {%csrf_token%}
    <div>
      {% if update %}
      <button type='submit' class="btn btn-primary" id="menu-toggle">Update Product</button>
      {% else %}
      <button type='submit' class="btn btn-primary" id="menu-toggle">Add Product</button>
      {%endif %}
    </div>
    {{form | crispy}}
  </form>
</div>
{% endblock %}