{% extends 'base_admin.html' %}
{% block content %}
<div class=container-fluid>
  <form method="POST">
    {%csrf_token%}

    <div class="form-group">
      <label for="exampleFormControlInput1">Category Name</label>
      <select name="category" class="form-control">
        {% for c in categories %}
        <option value="{{c.id}}">{{c.name}}</option>
        {% endfor %}
      </select>
    </div>
  
    <div class="form-group">
      <label for="exampleFormControlInput1">Product Name</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" name="name">
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Slug</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" name="slug">
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Description</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description"></textarea>
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Price</label>
      <input type="number" class="form-control" id="exampleFormControlInput1" name="price">
    </div>
    <!-- Default checked -->
    <div class="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" id="customSwitch1" name="available" checked>
      <label class="custom-control-label" for="customSwitch1">Availability</label>
    </div>
    <div>
    <button type='submit' class="btn btn-primary" id="menu-toggle">Add Product</button>
  </div>
  </form>
</div>
{% endblock %}