{% extends 'base_admin.html' %}

{% block content %}

<div class='container-fluid'>
  <h3> Product Lists </h3>
  <div class="card">
    <h5 class="card-header"> <a href='{% url "product:add_product"%}' type='button' class="btn btn-primary" id="menu-toggle">Add
        Product </a> </h5>
    <div class="card-body">
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Category</th>
            <th scope="col">Name</th>
            <th scope="col">Slug</th>
            <th scope="col">Price</th>
            <th scope="col">Image</th>
            <th scope="col">Created</th>
            <th scope="col">Updated</th>
          </tr>
        </thead>
        {% for i in product %}
        <tbody>
          <tr margin-top:5>
            <td>{{forloop.counter}}</td>
            <td>{{i.category.name}}</td>
            <td>{{i.name}}</td>
            <td>{{i.slug}}</td>
            <td>{{i.price}}</td>
            <td><img width="50px" {% if i.image %} src="{{i.image.url}}" {% else %} alt="no Image" {% endif %}></td>
            <td>{{i.created}}</td>
            <td>{{i.updated}}</td>
            <td> <a href="{{i.get_absolute_url}}" type="button" class="btn btn-outline-secondary" name = "product_update">Update</button> </a>
            <td> <a href="{% url 'product:product_delete' i.id %}" type="button" class="btn btn-outline-danger" name = "product_delete">Delete</button> </a>
          </tr>
        </tbody>
        {% endfor %}
      </table>
    </div>
  </div>
</div>

{% endblock %}