{% extends 'base_admin.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="mt-4 ml-4 mr-4">
    <form method="POST">
        {% csrf_token %}
        <div class="card">
            {%if update %}
            <div class="card-header">
                Update Category
            </div>
            {%else %}
            <div class="card-header">
                Add new category
            </div>
            {%endif %}
            <div class="card-body">
             <form action="{{request.path}}">

                {{form |crispy }}

                <input type="submit" class="btn btn-outline-primary" value="Submit">
             </form>
                </div> 
                {% comment %} <div class="col-md-6">
                    <label class="label-control">Enter Category Name</label>
                    <input type="text" class="form-control" value = "{{category.name}}", name="name" />
                </div>

                <div class="col-md-6">
                    <label class="label-control">Enter Category Slug</label>
                    <input type="text" class="form-control" value = "{{category.slug}}"name="slug" />
                </div> {% endcomment %}
            </div>
        </div>

        <div class="card-footer">

</div>

{% endblock %}